$nm-cyan: rgb(0, 168, 181);
$global-bg: #242423;
$light-grey: #333533;

:host {
  width: 100%;
  height: 100%;
  // position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;

  .progress-spinner {
    display: inline-block;
    width: 20px;
    height: 20px;
    transform-origin: center;
    border: 3px solid $light-grey;
    border-left-color: $nm-cyan;
    border-radius: 50%;
    animation: spin 500ms linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

}
