<section>
  <div class="container">
    <img src="/assets/images/nm-logo.png" alt="Neumann Medical logo">
    <p class="new-password-title">New password</p>
    <form [formGroup]="passwordResetForm" (submit)="onPasswordReset()">
      <div style="padding-bottom: 20px;" class="field">
        <label>Email</label>
        <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
        <input type="email" formControlName="email">
        <span
          *ngIf="email.touched && email.hasError('required')"
          class="error-message">Field is required</span>
        <span
          *ngIf="email.touched && email.hasError('email')"
          class="error-message">Invalid e-mail</span>
      </div>
      <div class="action">
        <div class="reset-button">
          <button
            type="submit"
            [disabled]="passwordResetForm.invalid || loading">Reset password</button>
        </div>
        <div class="back-to-login">
          <span><a [routerLink]="['/sign-in']">Login</a></span>
        </div>
      </div>
    </form>
  </div>
</section>
<div class="footer">
  <a href="https://neumannmedical.com/en/home" target="_blank">Neumann Medical &copy; 2021</a>
</div>
